<launch>
 <!-- load gazebo node -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(find neor)/worlds/cooneo_office.world"/>
  </include>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find neor)/urdf/neor_gmapping.urdf -urdf -model neor" output="screen" />
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" />

  <!--start rviz node-->
  <arg name="model" />
  <arg name="gui" default="False" />
  <param name="robot_description" textfile="$(find neor)/urdf/neor.urdf" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neor_gmapping)/rvizs/rviz_nav.rviz" />


  <!-- Launch a rqt steering GUI for publishing to /steer_bot/steer_drive_controller/cmd_vel -->
  <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" >
      <param name="default_topic" value="cmd_vel"/>                         <!-- default velocity control topic name -->
      <param name="default_vx_max" value="0.4"/>                        <!-- linear velocity max value    m/s -->
      <param name="default_vx_min" value="-0.4"/>                       <!-- linear velocity min value    m/s-->
      <param name="default_vw_max" value="0.4"/>                    <!-- angular velocity max value  rad/s (adaptor for urdf joint limit) -->
      <param name="default_vw_min" value="-0.4"/>                   <!-- angular velocity min value  rad/s (adaptor for urdf joint limit) -->
    </node> 

  <!--tf transform declear-->
  <node name="laser_to_base_link" pkg="tf" type="static_transform_publisher" args="0.22 0.0 0.23 0 0 0 base_link laser_link 40 " />
  
  <!-- launch gmapping node-->
  <include file="$(find neor_gmapping)/launch/gmapping.launch"/>
  
</launch>
